openapi: 3.2.0
info:
  title: USPTO Open Data Portal Bulk Datasets API
  description: The USPTO Open Data Portal (ODP) API allows public users to discover, search, and extract USPTO patent, trademark, PTAB trial, petition decision, and bulk dataset data at no cost. An ODP API key is required, passed via the X-API-KEY request header.
  version: 1.0.0
  contact:
    name: USPTO
    email: data@uspto.gov
    url: https://data.uspto.gov/apis/getting-started
  x-source-url: https://data.uspto.gov/swagger/swagger.yaml
servers:
- url: https://api.uspto.gov
security:
- ApiKeyAuth: []
tags:
- name: Bulk Datasets
  description: Access bulk raw public data from the Chief Economist office
paths:
  /api/v1/datasets/products/search:
    get:
      tags:
      - Bulk Datasets
      operationId: searchDatasetProducts
      summary: Search Bulk Dataset Products
      description: Search available USPTO bulk data products.
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: start
        in: query
        schema:
          type: integer
          default: 0
      - name: rows
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Dataset products list
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden
  /api/v1/datasets/products/{productIdentifier}:
    get:
      tags:
      - Bulk Datasets
      operationId: getDatasetProduct
      summary: Get Bulk Dataset Product by Identifier
      parameters:
      - name: productIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dataset product details
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
