openapi: 3.0.1
info:
  title: USPTO Open Data Portal Bulk Datasets PTAB Trials Documents API
  description: The USPTO Open Data Portal (ODP) API allows public users to discover, search, and extract USPTO patent, trademark, PTAB trial, petition decision, and bulk dataset data at no cost. An ODP API key is required, passed via the X-API-KEY request header.
  version: 1.0.0
  contact:
    name: USPTO
    email: data@uspto.gov
    url: https://data.uspto.gov/apis/getting-started
  x-source-url: https://data.uspto.gov/swagger/swagger.yaml
servers:
- url: https://api.uspto.gov
security:
- ApiKeyAuth: []
tags:
- name: PTAB Trials Documents
  description: All public documents filed in PTAB Trials
paths:
  /api/v1/patent/trials/documents/search:
    post:
      tags:
      - PTAB Trials Documents
      operationId: searchPtabDocumentsPost
      summary: Search PTAB Trial Documents by JSON Payload
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: PTAB documents search results
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
      - PTAB Trials Documents
      operationId: searchPtabDocumentsGet
      summary: Search PTAB Trial Documents by Query Parameters
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: start
        in: query
        schema:
          type: integer
          default: 0
      - name: rows
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: PTAB documents search results
          content:
            application/json:
              schema:
                type: object
  /api/v1/patent/trials/documents/{documentIdentifier}:
    get:
      tags:
      - PTAB Trials Documents
      operationId: getPtabDocument
      summary: Get PTAB Trial Document by Identifier
      parameters:
      - name: documentIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: PTAB document details
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
